# Import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
dataset_path = "Data_Repository/"

# Load dataset

In [3]:
df_items = pd.read_csv(dataset_path+'items.csv')
print("Shape: ", df_items.shape)
df_items.head(3)

Shape:  (250, 25)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
0,False,NaN,98000000,Action;Adventure,NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,10017322,119,en;la,Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137,exotic island;treasure;map;ship;scalp;pirate
1,False,NaN,4000000,Crime;Comedy,NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,4300000,98,en,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539,hotel;new year's eve;witch;bet;hotel room;sper...
2,False,NaN,0,Music;Drama;Family,NaN,2054,tt0113862,en,Mr. Holland's Opus,"In 1965, passionate musician Glenn Holland tak...",...,106269971,137,en,Released,"Of All the Lives He Changed, the One That Chan...",Mr. Holland's Opus,False,6.9,115,composer;mentor;deaf-mute;musical;apprentice;p...

In [4]:
df_items.iloc[0]

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                            98000000
genres                                                    Action;Adventure
homepage                                                               NaN
id                                                                    1408
imdb_id                                                          tt0112760
original_language                                                       en
original_title                                            Cutthroat Island
overview                 Morgan Adams and her slave, William Shaw, are ...
popularity                                                        7.284477
poster_path                               /odM9973kIv9hcjfHPp6g6BlyTIJ.jpg
production_companies     Le Studio Canal+;Laurence Mark Productions;Met...
production_countries                                                   NaN
release_date                                                    1995-12-22
revenue                                                           10017322
runtime                                                                119
spoken_languages                                                     en;la
status                                                            Released
tagline                  The Course Has Been Set. There Is No Turning B...
title                                                     Cutthroat Island
video                                                                False
vote_average                                                           5.7
vote_count                                                             137
keywords                      exotic island;treasure;map;ship;scalp;pirate
Name: 0, dtype: object

In [5]:
df_ratings = pd.read_csv(dataset_path+'ratings.db.csv')
print("Shape: ", df_ratings.shape)
df_ratings.head(3)

Shape:  (51956, 3)

   userId  itemId  rating
0      50     296     3.0
1      50     318     4.0
2      50     480     3.0

In [6]:
df_ratings_known = pd.read_csv(dataset_path+'ratings.test.known.csv')
print("Shape: ", df_ratings_known.shape)
df_ratings_known.head(3)

Shape:  (3018, 3)

   userId  itemId  rating
0  125328    8961     4.0
1   79268    4226     4.0
2   79268    1732     5.0

In [7]:
df_ratings_unknown = pd.read_csv(dataset_path+'ratings.test.unknown.csv')
print("Shape: ", df_ratings_unknown.shape)
df_ratings_unknown.head(3)

Shape:  (1000, 3)

   userId  itemId  rating
0  125328   58559     4.5
1  125328    1246     4.5
2  125328    3578     4.0

In [8]:
df_ratings_all = pd.concat([df_ratings, df_ratings_known])
print("Shape: ", df_ratings_all.shape)
df_ratings_all.head(3)

Shape:  (54974, 3)

   userId  itemId  rating
0      50     296     3.0
1      50     318     4.0
2      50     480     3.0

# ONE SLOPE

In [9]:
# rating_matrix = df_ratings_all.pivot_table(index='userId', columns='itemId', values='rating')
# rating_matrix

In [10]:
# def get_dev_val(dataframe, i, j):
#     dataframe = dataframe[
#         (dataframe[i].notnull())
#         & (dataframe[j].notnull())
#     ].copy()
#     users = len(dataframe)
#     if users > 0: dev_val = (rating_matrix[i]-rating_matrix[j]).sum() / users
#     else: dev_val = 0
#     return dev_val

# deviations = {}
# for i in rating_matrix.columns:
#     for j in rating_matrix.columns:
#         if i == j:
#             continue
#         deviation = get_dev_val(rating_matrix, i, j)
#         deviations[i, j] = deviation
#         deviations[j, i] = (-1) * deviation

# deviations

In [11]:
# index = list(set([k[0] for k in deviations.keys()]))
# index.sort()
# columns = list(set([k[1] for k in deviations.keys()]))
# columns.sort()

# dataframe_desviation = pd.DataFrame(index=index, columns=columns)

# for k, v in deviations.items():
#     dataframe_desviation.loc[k[0], k[1]] = v

In [12]:
# dataframe_desviation

In [13]:
# user_to_predict = df_ratings_known['userId'].unique().tolist()

# predictions = {}
# for u in user_to_predict:
#     user_row = rating_matrix.loc[u, :]
#     user_ranked_items = user_row[user_row.notnull()].index
#     for i in dataframe_desviation.columns:
#         predictions[u, i] = (np.sum(dataframe_desviation.loc[i, user_ranked_items] + rating_matrix.loc[u, user_ranked_items])) / len(user_ranked_items)

# predictions

In [14]:
# index = list(set([k[0] for k in predictions.keys()]))
# index.sort()
# columns = list(set([k[1] for k in predictions.keys()]))
# columns.sort()

# dataframe_prediction = pd.DataFrame(index=index, columns=columns)

# for k, v in predictions.items():
#     dataframe_prediction.loc[k[0], k[1]] = v

# dataframe_prediction

In [15]:
# best_predictions = {}

# for idx, row in dataframe_prediction.iterrows():
#     top_10 = row.sort_values(ascending=False).head(10)
#     best_predictions[idx] = list(zip(top_10.index, top_10.values))

# best_predictions

# CLUSTERING

In [16]:
df_clustering =  df_ratings_all.groupby(by=['userId']).agg({'itemId': 'count', 'rating' : 'mean'}).reset_index()

scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_clustering[["itemId","rating"]])
df_clustering[["itemId","rating"]] = pd.DataFrame(data=scaled_data, columns=["itemId","rating"])
df_clustering

      userId    itemId    rating
0         50 -0.529856 -0.308372
1        151  0.927547 -0.890308
2        162 -0.063487 -0.275855
3        260 -0.588153  1.675144
4        420 -0.617301  1.310957
...      ...       ...       ...
2095  270477  2.180915 -0.629997
2096  270485 -0.121783  0.942041
2097  270590 -0.529856  0.959777
2098  270801 -0.413264 -0.731089
2099  270892  0.111401 -0.327882

[2100 rows x 3 columns]

In [17]:
kmeans = KMeans(n_clusters=4, random_state=1234)
kmeans.fit(df_clustering[["itemId","rating"]])
cluster_labels = kmeans.labels_

c:\Users\RodrigoRenatoPomaLud\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [18]:
df_user_clustered = df_clustering[["userId"]].drop_duplicates()
df_user_clustered["cluster"] = cluster_labels
df_user_clustered

      userId  cluster
0         50        0
1        151        0
2        162        0
3        260        1
4        420        1
...      ...      ...
2095  270477        3
2096  270485        1
2097  270590        1
2098  270801        0
2099  270892        0

[2100 rows x 2 columns]

In [19]:
for cluster in df_user_clustered['cluster'].unique():
    quantity = df_user_clustered[df_user_clustered['cluster'] == cluster]['userId'].count()
    print("The cluster {} has {} users".format(cluster, quantity))

The cluster 0 has 911 users
The cluster 1 has 724 users
The cluster 3 has 188 users
The cluster 2 has 277 users

# ONE SLOPE CLUSTERED

In [20]:
def get_matrix(dictionary):
    index = list(set([k[0] for k in dictionary.keys()]))
    index.sort()
    columns = list(set([k[1] for k in dictionary.keys()]))
    columns.sort()

    dataframe = pd.DataFrame(index=index, columns=columns)

    for k, v in dictionary.items():
        dataframe.loc[k[0], k[1]] = v
    return dataframe

def one_slope(dataframe):
    rating_matrix = dataframe.pivot_table(index='userId', columns='itemId', values='rating')
    def get_dev_val(dataframe, i, j):
        dataframe = dataframe[
            (dataframe[i].notnull())
            & (dataframe[j].notnull())
        ].copy()
        users = len(dataframe)
        if users > 0: dev_val = (rating_matrix[i]-rating_matrix[j]).sum() / users
        else: dev_val = 0
        return dev_val

    deviations = {}
    for i in rating_matrix.columns:
        for j in rating_matrix.columns:
            if i == j:
                continue
            deviation = get_dev_val(rating_matrix, i, j)
            deviations[i, j] = deviation
            deviations[j, i] = (-1) * deviation

    desviation_matrix = get_matrix(deviations)
    return rating_matrix, desviation_matrix

In [21]:
matrix_per_cluster = {}
for cluster in df_user_clustered['cluster'].unique():
    matrix = {}
    users_clustered = df_user_clustered[df_user_clustered['cluster'] == cluster]['userId'].tolist()
    df_ratings_clustered = df_ratings_all[df_ratings_all['userId'].isin(users_clustered)]
    matrix['rating_matrix'], matrix['desviation_matrix'] = one_slope(df_ratings_clustered)
    matrix_per_cluster[cluster] = matrix

In [22]:
matrix_per_cluster

{0: {'rating_matrix': itemId  2      3      5      6      11     16     17     19     21     25     \
  userId
  50        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  151       NaN    3.0    NaN    NaN    3.0    NaN    NaN    2.0    4.0    NaN
  162       4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    5.0    NaN
  421       5.0    NaN    NaN    NaN    4.0    NaN    NaN    NaN    NaN    NaN
  1307      NaN    NaN    NaN    NaN    NaN    NaN    1.0    NaN    NaN    NaN
  ...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
  269484    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270136    NaN    NaN    NaN    NaN    3.0    NaN    NaN    NaN    NaN    NaN
  270257    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270801    NaN    NaN    NaN    NaN    NaN    4.5    NaN    NaN    NaN    NaN
  270892    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

  itemId  ...  8961   30707  40815  44191  45722  46578  48780  58559  68954  \
  userId  ...
  50      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  151     ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  162     ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  421     ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  1307    ...    NaN    5.0    NaN    NaN    NaN    5.0    NaN    NaN    NaN
  ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
  269484  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270136  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270257  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270801  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270892  ...    NaN    NaN    NaN    3.5    NaN    NaN    NaN    NaN    NaN

  itemId  74458
  userId
  50        NaN
  151       NaN
  162       NaN
  421       NaN
  1307      NaN
  ...       ...
  269484    NaN
  270136    NaN
  270257    NaN
  270801    NaN
  270892    NaN

  [911 rows x 250 columns],
  'desviation_matrix':           2         3         5         6         11        16        17     \
  2           NaN      -0.0       0.1   -0.4375 -0.347826 -0.333333     -0.86
  3           0.0       NaN   0.12069 -0.395833 -0.454545      -0.6 -1.108696
  5          -0.1  -0.12069       NaN -0.423077 -0.478261 -0.333333 -0.969697
  6        0.4375  0.395833  0.423077       NaN      -0.0  0.166667 -0.903226
  11     0.347826  0.454545  0.478261       0.0       NaN     0.025      -0.6
  ...         ...       ...       ...       ...       ...       ...       ...
  46578      0.25       1.0         0      0.25       2.0      -0.3       1.0
  48780       0.0      1.75         0 -0.944444       2.0     0.125      -0.5
  58559  0.178571       1.0         0 -0.111111         0      -0.2    -0.625
  68954  0.636364       1.5         0  0.142857         0      -0.4  0.166667
  74458 -0.083333         0         0     0.125         0       0.0      0.25

            19        21        25     ...     8961      30707     40815  \
  2       0.74359  -0.19697       0.1  ...      -0.5 -0.166667 -0.318182
  3     -0.333333  0.222222 -0.681818  ...     -0.75      -1.0      -0.5
  5      0.571429   -0.0625 -0.230769  ...         0         0         0
  6      0.852941       0.3 -0.211111  ...  0.444444     0.125       1.0
  11     1.520833  0.076923  0.576923  ...      -1.0         0         0
  ...         ...       ...       ...  ...       ...       ...       ...
  46578  1.227273         0  0.166667  ...  0.044118       0.3 -0.166667
  48780    1.1875         0       0.0  ...  0.274194  1.192308   0.65625
  58559  1.289474       1.0       0.0  ...  0.398148  0.833333  0.283333
  68954  1.692308      -1.0       0.5  ...      0.18  0.147059 -0.092593
  74458  0.166667       0.0     -0.25  ...  0.086957  0.458333  0.105263

            44191     45722     46578     48780     58559     68954     74458
  2       -0.3125  0.166667     -0.25      -0.0 -0.178571 -0.636364  0.083333
  3          -0.5       1.0      -1.0     -1.75      -1.0      -1.5         0
  5             0       2.5         0         0         0         0         0
  6      0.928571       1.0     -0.25  0.944444  0.111111 -0.142857    -0.125
  11            0         0      -2.0      -2.0         0         0         0
  ...         ...       ...       ...       ...       ...       ...       ...
  46578  0.217391 -0.222222       NaN     -0.25 -0.171053     -0.45 -0.115385
  48780  0.225806  0.666667      0.25       NaN     -0.35   0.03125  0.134615
  58559  0.666667  0.441176  0.171053      0.35       NaN  0.190909  0.418919
  68954  0.297619  0.196429      0.45  -0.03125 -0.190909       NaN  0.068966
  74458  0.269231  0.352941  0.115385 -0.134615 -0.418919 -0.068966       NaN

  [250 rows x 250 columns]},
 1: {'rating_matrix': itemId  2      3      5      6      11     16     17     19     21     25     \
  userId
  260       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  420       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  841       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  942       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  1694      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  ...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
  270207    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270293    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270346    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270485    NaN    NaN    NaN    5.0    NaN    NaN    NaN    NaN    NaN    NaN
  270590    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

  itemId  ...  8961   30707  40815  44191  45722  46578  48780  58559  68954  \
  userId  ...
  260     ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    5.0
  420     ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.0
  841     ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  942     ...    3.5    NaN    NaN    NaN    NaN    NaN    4.5    4.0    4.0
  1694    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.5
  ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
  270207  ...    3.0    NaN    5.0    2.0    4.0    NaN    NaN    NaN    NaN
  270293  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270346  ...    NaN    NaN    NaN    4.0    NaN    NaN    NaN    4.5    5.0
  270485  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  270590  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

  itemId  74458
  userId
  260       NaN
  420       NaN
  841       NaN
  942       4.0
  1694      NaN
  ...       ...
  270207    NaN
  270293    NaN
  270346    NaN
  270485    NaN
  270590    NaN

  [724 rows x 250 columns],
  'desviation_matrix':           2         3         5         6     11        16        17     \
  2           NaN       1.5         0         0   0.5      -1.0         0
  3          -1.5       NaN  0.333333      -0.0     0      -0.0      -0.5
  5             0 -0.333333       NaN       0.5     0         0      -3.0
  6             0       0.0      -0.5       NaN     0       0.8 -1.666667
  11         -0.5         0         0         0   NaN         0      -0.5
  ...         ...       ...       ...       ...   ...       ...       ...
  46578         0         0         0     -1.75     0      -0.5         0
  48780  0.166667      0.75         0 -0.071429     0       0.6         0
  58559       0.5       2.0         0     -0.25     0  0.333333     -0.25
  68954  0.833333         0         0      -0.7     0 -0.333333       0.0
  74458       0.5       2.0         0     -0.25     0       0.5       3.5

         19    21    25     ...     8961      30707     40815     44191  \
  2       -0.2   0.5   0.5  ...      -0.5     -0.75      -0.5      -0.5
  3       -0.5  -1.0 -0.25  ...      -0.5         0       1.0      -2.0
  5          0     0  -1.5  ...         0         0         0         0
  6        0.5   1.0  0.25  ...       0.5  0.833333         0       0.4
  11      -1.0  -0.0   0.5  ...         0         0         0         0
  ...      ...   ...   ...  ...       ...       ...       ...       ...
  46578    0.5     0     0  ... -0.083333      -0.4 -0.083333 -0.464286
  48780    0.0     0     0  ...    0.3125  0.083333      0.25  0.173913
  58559    0.0     0     0  ...  0.235294  0.055556  0.235294   0.24359
  68954  0.375     0     0  ...      0.24 -0.055556      -0.2       0.3
  74458    0.0     0     0  ...  0.458333  0.333333   -0.0625  0.117647

            45722     46578     48780     58559     68954     74458
  2          -0.5         0 -0.166667      -0.5 -0.833333      -0.5
  3           0.5         0     -0.75      -2.0         0      -2.0
  5             0         0         0         0         0         0
  6           1.0      1.75  0.071429      0.25       0.7      0.25
  11            0         0         0         0         0         0
  ...         ...       ...       ...       ...       ...       ...
  46578    -0.125       NaN     -1.25 -0.366667 -0.555556 -0.857143
  48780  0.333333      1.25       NaN -0.155556  0.340909 -0.111111
  58559  0.346154  0.366667  0.155556       NaN  0.329545  0.153846
  68954 -0.090909  0.555556 -0.340909 -0.329545       NaN      -0.3
  74458   -0.4375  0.857143  0.111111 -0.153846       0.3       NaN

  [250 rows x 250 columns]},
 3: {'rating_matrix': itemId  2      3      5      6      11     16     17     19     21     25     \
  userId
  733       2.5    NaN    NaN    4.5    NaN    4.0    NaN    1.5    4.0    3.5
  1243      4.0    NaN    3.0    NaN    5.0    NaN    5.0    NaN    NaN    NaN
  4066      2.0    2.0    3.0    3.0    3.0    3.0    2.0    NaN    3.0    2.0
  7238      3.0    3.0    4.0    5.0    5.0    3.0    5.0    NaN    5.0    4.0
  8934      NaN    NaN    NaN    3.0    NaN    4.0    NaN    NaN    NaN    3.5
  ...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
  259125    NaN    NaN    1.0    NaN    2.5    NaN    NaN    NaN    NaN    3.0
  261312    3.0    2.0    NaN    4.0    4.0    4.0    4.5    1.0    4.0    4.0
  267735    NaN    NaN    NaN    5.0    NaN    NaN    3.5    NaN    3.5    NaN
  267772    3.0    3.0    NaN    NaN    3.0    NaN    4.0    2.0    3.0    NaN
  270477    NaN    NaN    NaN    4.0    NaN    NaN    NaN    NaN    4.0    NaN

  itemId  ...  8961   30707  40815  44191  45722  46578  48780  58559  68954  \
  userId  ...
  733     ...    3.5    NaN    NaN    NaN    4.5    NaN    NaN    4.5    NaN
  1243    ...    NaN    NaN    3.0    NaN    5.0    3.0    3.5    5.0    5.0
  4066    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  7238    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  8934    ...    NaN    4.5    NaN    4.5    NaN    3.5    4.5    3.0    NaN
  ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
  259125  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  261312  ...    4.5    NaN    4.5    4.0    NaN    3.0    3.5    4.5    NaN
  267735  ...    5.0    4.5    4.0    4.0    3.5    NaN    NaN    NaN    NaN
  267772  ...    3.5    4.5    4.0    4.0    3.5    4.0    4.0    4.0    NaN
  270477  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

  itemId  74458
  userId
  733       NaN
  1243      NaN
  4066      NaN
  7238      NaN
  8934      NaN
  ...       ...
  259125    NaN
  261312    NaN
  267735    NaN
  267772    NaN
  270477    NaN

  [188 rows x 250 columns],
  'desviation_matrix':           2         3         5         6         11        16        17     \
  2           NaN  0.424242  0.473684 -0.882353 -0.430233 -0.801887 -0.568966
  3     -0.424242       NaN   -0.1875 -0.892857 -0.903226 -1.034483    -1.125
  5     -0.473684    0.1875       NaN -1.113636 -0.709677 -0.964286 -0.805556
  6      0.882353  0.892857  1.113636       NaN  0.025641 -0.054688     -0.04
  11     0.430233  0.903226  0.709677 -0.025641       NaN -0.115385  -0.33871
  ...         ...       ...       ...       ...       ...       ...       ...
  46578  0.592105  0.970588  0.833333 -0.172414      0.15 -0.225806  0.117647
  48780  0.824324      1.45     1.625  0.363636  0.321429  0.241379  0.066667
  58559   1.22093  1.681818  1.884615   0.47619      0.75  0.329268       0.3
  68954  0.467742       0.9       0.7       0.1  0.464286  -0.26087  0.107143
  74458  0.666667  1.583333  0.954545 -0.152174  0.166667 -0.217391  0.642857

            19        21        25     ...     8961      30707     40815  \
  2       0.62037 -0.577778 -0.488372  ... -0.754386  -0.80303 -0.283784
  3      0.291667 -0.647059   -0.9375  ... -1.190476 -0.964286 -0.533333
  5      0.116667      -0.4      -1.0  ... -0.962963 -1.068182 -0.566667
  6      1.012195  0.061404 -0.021739  ...     -0.25   0.15625  0.574074
  11     0.984375 -0.086957 -0.144737  ... -0.423077   -0.4375  0.033333
  ...         ...       ...       ...  ...       ...       ...       ...
  46578  1.629032    0.6875 -0.083333  ...  0.117021      -0.1  0.344828
  48780  1.583333  0.578947  0.295455  ...  0.244444   0.19697  0.485294
  58559  1.906977  0.788462  0.366667  ...  0.427273  0.407895  0.782051
  68954  1.458333  0.794118  0.147059  ... -0.214286 -0.045455  0.351852
  74458  1.333333  0.590909 -0.090909  ...  0.080645       0.0  0.652174

            44191     45722     46578     48780     58559     68954     74458
  2     -0.693878 -0.081395 -0.592105 -0.824324  -1.22093 -0.467742 -0.666667
  3     -1.142857  -0.46875 -0.970588     -1.45 -1.681818      -0.9 -1.583333
  5     -0.972222 -0.631579 -0.833333    -1.625 -1.884615      -0.7 -0.954545
  6       0.04878  0.442308  0.172414 -0.363636  -0.47619      -0.1  0.152174
  11    -0.285714  0.269231     -0.15 -0.321429     -0.75 -0.464286 -0.166667
  ...         ...       ...       ...       ...       ...       ...       ...
  46578 -0.069767  0.428571       NaN -0.282051 -0.346154    -0.125 -0.208333
  48780  0.255102  0.657143  0.282051       NaN -0.196078  0.216667  0.448276
  58559   0.40566  0.841463  0.346154  0.196078       NaN  0.407895  0.472222
  68954      -0.2  0.483871     0.125 -0.216667 -0.407895       NaN -0.296296
  74458 -0.242424  0.456522  0.208333 -0.448276 -0.472222  0.296296       NaN

  [250 rows x 250 columns]},
 2: {'rating_matrix': itemId  2      3      5      6      11     16     17     19     21     25     \
  userId
  1577      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  2378      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  4445      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  6274      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  6580      NaN    NaN    NaN    NaN    NaN    3.0    NaN    NaN    NaN    NaN
  ...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
  268583    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  268744    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  269110    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  269592    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  269717    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

  itemId  ...  8961   30707  40815  44191  45722  46578  48780  58559  68954  \
  userId  ...
  1577    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  2378    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  4445    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  6274    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  6580    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
  268583  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  268744  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  269110  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  269592  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
  269717  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

  itemId  74458
  userId
  1577      NaN
  2378      NaN
  4445      NaN
  6274      NaN
  6580      NaN
  ...       ...
  268583    NaN
  268744    NaN
  269110    NaN
  269592    NaN
  269717    NaN

  [277 rows x 250 columns],
  'desviation_matrix':           2      3         5         6         11    16        17     \
  2           NaN      0       0.5     -1.25 -0.333333     0      -1.0
  3             0    NaN     0.375      0.25       2.0  -2.0 -0.714286
  5          -0.5 -0.375       NaN  0.333333      -0.0     0 -0.857143
  6          1.25  -0.25 -0.333333       NaN      -1.5 -0.75      -1.0
  11     0.333333   -2.0       0.0       1.5       NaN     0      -0.5
  ...         ...    ...       ...       ...       ...   ...       ...
  46578       0.5      0         0         0         0     0         0
  48780         0      0         0       0.5         0   1.0         0
  58559       1.5      0         0       0.5         0     0         0
  68954       4.0      0         0      -1.5         0     0         0
  74458      0.75      0         0      0.75         0     0         0

            19    21        25     ... 8961  30707     40815 44191 45722 46578  \
  2      0.785714  -0.5 -0.166667  ... -0.25  -1.5      -2.5  -3.0  -2.0  -0.5
  3           4.0   4.0  1.142857  ...     0  -4.5         0     0     0     0
  5           1.0  -1.0  0.333333  ...     0     0         0     0     0     0
  6      1.333333  0.75  0.142857  ...  0.75   0.5 -0.666667 -0.25  -1.0     0
  11     1.416667   0.5       0.3  ...     0     0         0     0     0     0
  ...         ...   ...       ...  ...   ...   ...       ...   ...   ...   ...
  46578       1.0     0       0.5  ...  -2.0     0         0     0  -1.5   NaN
  48780         0     0         0  ...  1.25   1.0       0.0   0.0  -0.5   0.0
  58559         0     0         0  ...   0.5   1.5      -1.0   0.5  -1.5  -3.5
  68954       4.5     0       4.0  ...   0.4  -0.5 -0.166667  -1.5   0.5   1.5
  74458       2.0     0       2.0  ...   1.5  1.25     -0.25   0.5  -1.5  -0.5

        48780     58559     68954     74458
  2         0      -1.5      -4.0     -0.75
  3         0         0         0         0
  5         0         0         0         0
  6      -0.5      -0.5       1.5     -0.75
  11        0         0         0         0
  ...     ...       ...       ...       ...
  46578  -0.0       3.5      -1.5       0.5
  48780   NaN       1.5       1.0      -0.5
  58559  -1.5       NaN  0.166667 -0.666667
  68954  -1.0 -0.166667       NaN      -0.0
  74458   0.5  0.666667       0.0       NaN

  [250 rows x 250 columns]}}

In [23]:
user_to_predict = df_ratings_known['userId'].unique().tolist()

predictions = {}
for u in user_to_predict:
    user_cluster = df_user_clustered[df_user_clustered['userId'] == u]['cluster'].values[0]
    user_matrix = matrix_per_cluster[user_cluster]
    user_rating_matrix = user_matrix['rating_matrix']
    user_desviation_matrix = user_matrix['desviation_matrix']
    user_row = user_rating_matrix.loc[u, :]
    user_ranked_items = user_row[user_row.notnull()].index
    for i in user_desviation_matrix.columns:
        if i not in user_ranked_items:
            predictions[u, i] = (np.sum(user_rating_matrix.loc[u, user_ranked_items] + user_desviation_matrix.loc[i, user_ranked_items])) / len(user_ranked_items)
predictions_matrix = get_matrix(predictions)

In [24]:
predictions_matrix

,2,3,5,6,11,16,17,19,21,25,...,8961,30707,40815,44191,45722,46578,48780,58559,68954,74458
2378,1.166667,1.875,1.875,2.333333,2.875,2.5,2.4375,1.791667,1.333333,1.625,...,2.5,2.375,3.125,2.5,3.375,2.25,3.5625,2.5,2.25,2.75
7238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.81447,NaN,NaN,...,4.199741,4.214281,3.697227,4.131496,3.583648,4.103869,4.356277,4.553387,4.026719,4.041915
10218,3.48786,3.182481,3.627837,3.950496,3.855098,4.147852,4.268815,NaN,3.600107,3.723454,...,NaN,3.848325,NaN,3.679495,NaN,3.896599,4.017983,4.135129,4.162733,3.88772
11418,1.40625,NaN,2.302083,2.59375,2.75,3.0625,3.803571,0.0625,2.25,1.732143,...,2.5625,4.875,2.75,3.0,2.6875,2.375,2.6875,2.875,2.875,3.25
15238,NaN,2.959829,2.565934,2.843534,3.174908,3.104701,3.25989,NaN,3.117308,2.48014,...,3.010897,3.040598,3.461538,3.660897,3.367521,2.532051,3.313034,3.024573,3.605128,3.361111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243538,3.583925,3.05787,3.750418,3.841859,3.88328,3.834887,4.639543,2.660254,3.835684,3.810084,...,3.767806,3.830314,3.874398,3.770455,3.683868,3.811036,4.322569,4.141186,3.900253,3.935307
247588,3.265339,2.789503,3.322393,3.610883,3.539792,3.604529,4.374514,2.526158,NaN,3.611242,...,3.828136,3.634682,3.430293,3.261403,3.492847,3.733924,3.636925,3.699991,3.585339,3.724412
249158,3.437656,2.861634,3.131247,3.59987,3.621702,3.628337,3.908794,2.492781,3.610991,3.2881,...,3.834288,4.04367,4.156537,3.809963,3.674265,3.816491,3.988513,4.144573,4.076723,4.039165
259448,3.408279,3.106365,3.44701,3.804982,3.757569,3.747432,4.412884,2.672595,NaN,3.707007,...,4.027865,3.971637,3.808514,3.585088,3.966366,3.795163,3.886249,4.108912,4.033952,4.017494
269158,3.029738,2.815181,2.973348,3.29869,3.407421,3.662284,3.781033,2.351462,3.325077,2.912274,...,3.616441,3.535813,3.606148,3.352143,3.346712,3.465473,3.691994,3.746092,3.786146,3.587834

In [25]:
best_predictions = {}

for idx, row in predictions_matrix.iterrows():
    top_10 = row.sort_values(ascending=False).head(10)
    best_predictions[idx] = list(zip(top_10.index, top_10.values))

best_predictions

{2378: [(4973, 4.375),
  (2959, 4.28125),
  (2502, 4.0),
  (4011, 3.6875),
  (4896, 3.625),
  (48780, 3.5625),
  (1090, 3.5),
  (3114, 3.5),
  (1584, 3.4375),
  (8368, 3.375)],
 7238: [(750, 4.622245262109247),
  (913, 4.572360609594698),
  (260, 4.565541668010004),
  (58559, 4.553386546200975),
  (293, 4.470434264776243),
  (903, 4.437444346769766),
  (6016, 4.436938340051617),
  (1252, 4.39139074083162),
  (541, 4.371177501267554),
  (745, 4.367322124148139)],
 10218: [(2019, 4.651292200269183),
  (1252, 4.583760875092583),
  (6016, 4.58103354041583),
  (903, 4.50342011085345),
  (318, 4.49786222494792),
  (913, 4.38775622555194),
  (1213, 4.366615133851825),
  (5995, 4.364689610644433),
  (750, 4.355110284419506),
  (296, 4.354648994975047)],
 11418: [(3578, 5.1875),
  (2023, 5.0),
  (30707, 4.875),
  (858, 4.8125),
  (1961, 4.533333333333333),
  (111, 4.5),
  (58, 4.5),
  (17, 3.803571428571429),
  (527, 3.7395833333333335),
  (1393, 3.7083333333333335)],
 15238: [(1732, 4.174145299145299),
  (750, 4.023504273504273),
  (2502, 3.8760683760683765),
  (111, 3.8547008547008548),
  (1394, 3.795940170940171),
  (318, 3.7593531468531456),
  (5618, 3.7356837606837607),
  (1278, 3.730769230769231),
  (4226, 3.7294871794871787),
  (44191, 3.6608974358974353)],
 16378: [(750, 4.404761904761904),
  (912, 4.363095238095239),
  (541, 4.0842261904761905),
  (858, 3.7869575860647293),
  (4973, 3.699255952380952),
  (111, 3.6672155225726653),
  (1265, 3.664795918367347),
  (1278, 3.6160714285714284),
  (1394, 3.517857142857143),
  (497, 3.514880952380952)],
 16498: [(832, 4.508333333333333),
  (708, 4.5),
  (5618, 4.3625),
  (1370, 4.333333333333333),
  (58, 4.25),
  (5816, 4.2),
  (161, 4.190909090909091),
  (1729, 4.1875),
  (145, 4.166666666666667),
  (783, 4.166666666666666)],
 16648: [(2019, 4.573991402116403),
  (6016, 4.37576923076923),
  (318, 4.350811407646051),
  (923, 4.33859126984127),
  (858, 4.324778973941778),
  (5060, 4.31875742721331),
  (48780, 4.306517096970367),
  (8368, 4.276710035133949),
  (40815, 4.2696908602150545),
  (58, 4.239635942760943)],
 17028: [(858, 4.585599239338899),
  (2019, 4.426465611087238),
  (1250, 4.3636898659251),
  (750, 4.339229573880739),
  (527, 4.285875069572512),
  (58559, 4.277735423003521),
  (293, 4.194791200460861),
  (5060, 4.188413678176103),
  (745, 4.154936588080837),
  (1252, 4.147546928058372)],
 21608: [(858, 4.0072021755831075),
  (912, 3.875658607724457),
  (2019, 3.8364605347677405),
  (1250, 3.7797376109375738),
  (1213, 3.770524625228673),
  (913, 3.752208224327613),
  (260, 3.746788338241944),
  (58559, 3.7393000701874906),
  (2959, 3.6652130823951112),
  (111, 3.655799728673068)],
 21978: [(2502, 3.4583333333333335),
  (3160, 3.3425925925925926),
  (111, 3.3246632996633),
  (4973, 3.2863425925925926),
  (912, 3.2425925925925925),
  (1394, 3.2129629629629632),
  (541, 3.1773148148148147),
  (4979, 3.138888888888889),
  (1278, 3.1041666666666665),
  (1250, 3.0833333333333335)],
 23358: [(2019, 4.41115108291921),
  (745, 4.294760035526109),
  (1252, 4.233663544080432),
  (858, 4.164404091074028),
  (5618, 4.146748772187123),
  (912, 4.142389254902736),
  (923, 4.134283594618008),
  (58, 4.132698565064629),
  (750, 4.13044791490195),
  (6016, 4.111116454548218)],
 31278: [(527, 4.885303836278523),
  (318, 4.810238416313838),
  (5618, 4.78337235936041),
  (745, 4.776424096736598),
  (858, 4.76665541346353),
  (4011, 4.759118987843552),
  (4973, 4.756088842071036),
  (6016, 4.72836681547619),
  (4226, 4.724644969037933),
  (17, 4.722325949870626)],
 32478: [(5618, 4.785888457947282),
  (112, 4.634615384615385),
  (337, 4.580357142857142),
  (17, 4.5648518148518145),
  (858, 4.5541599338727154),
  (912, 4.551278582528583),
  (608, 4.544768425886848),
  (58, 4.528846153846154),
  (3175, 4.528365384615385),
  (2502, 4.5198697136197135)],
 35228: [(527, 4.790768611984897),
  (1252, 4.666700613051544),
  (745, 4.6610338074623785),
  (17, 4.655455894023268),
  (5618, 4.64022065236351),
  (6016, 4.634513366750208),
  (923, 4.625005942125509),
  (858, 4.606862573935932),
  (2692, 4.597783962069677),
  (58, 4.588744982678866)],
 35448: [(6016, 4.324941378066378),
  (1252, 4.293625861985237),
  (2019, 4.2604860417360415),
  (2324, 4.145571593261811),
  (5060, 4.0874040022477525),
  (5995, 4.085830026455026),
  (913, 4.064178876678877),
  (3160, 4.05625),
  (1213, 4.055024402680653),
  (48780, 4.027686861678183)],
 38968: [(2019, 4.525967620493764),
  (745, 4.499935598759558),
  (6016, 4.412487566687975),
  (1252, 4.396323686821954),
  (910, 4.385688963058245),
  (750, 4.324655003211765),
  (858, 4.312368854682202),
  (912, 4.304190128490995),
  (919, 4.283216129839158),
  (17, 4.242471840484661)],
 39388: [(4973, 5.096730769230769),
  (745, 4.956724386724387),
  (910, 4.897222222222222),
  (4886, 4.883273809523809),
  (4011, 4.881666666666666),
  (5618, 4.866666666666666),
  (527, 4.865924114060078),
  (4226, 4.828371710526316),
  (318, 4.825090355382791),
  (4896, 4.752619047619048)],
 40988: [(912, 3.361111111111111),
  (5618, 3.1916666666666664),
  (1732, 3.1435185185185186),
  (4226, 3.1333333333333333),
  (2959, 3.0363756613756614),
  (44191, 3.0240740740740737),
  (2302, 3.0),
  (3160, 3.0),
  (1246, 2.990740740740741),
  (1610, 2.9722222222222223)],
 52088: [(1252, 4.871961805555556),
  (318, 4.791335335864861),
  (17, 4.789865048696571),
  (2019, 4.7831439393939394),
  (6016, 4.727802160576551),
  (910, 4.69604828042328),
  (527, 4.685944650228094),
  (750, 4.678139291045357),
  (58, 4.6484477124183),
  (5060, 4.605161736411736)],
 56478: [(5618, 4.902404684095861),
  (903, 4.869529914529915),
  (58, 4.86875),
  (912, 4.857135889709419),
  (923, 4.800732323232324),
  (4226, 4.749601676399872),
  (2268, 4.740606166709108),
  (1250, 4.727767857142857),
  (2959, 4.7168276438364405),
  (58559, 4.704747469867715)],
 56918: [(339, 5.183333333333334),
  (1266, 4.55),
  (913, 4.55),
  (5060, 4.5),
  (350, 4.5),
  (2395, 4.4),
  (5618, 4.390238781538024),
  (587, 4.385),
  (1213, 4.3763149350649355),
  (6, 4.3742857142857146)],
 57938: [(318, 4.024587759994301),
  (1252, 3.9481309363478627),
  (527, 3.931015063300724),
  (745, 3.9183000875935665),
  (2019, 3.9157862324773345),
  (750, 3.9024926829282816),
  (923, 3.8888910637168967),
  (910, 3.8561400428280943),
  (912, 3.842066615745406),
  (6016, 3.81859017575066)],
 61368: [(2324, 4.54359243697479),
  (2395, 4.458333333333333),
  (6, 4.45),
  (265, 4.435714285714286),
  (5618, 4.402442795299938),
  (318, 4.363936655051638),
  (350, 4.357142857142857),
  (112, 4.357142857142857),
  (58, 4.357142857142857),
  (58559, 4.343882275132275)],
 67068: [(4973, 4.487313415768421),
  (5618, 4.466791005291005),
  (2268, 4.449521008403361),
  (1250, 4.436928571428571),
  (912, 4.426452843452843),
  (2502, 4.413202075702077),
  (858, 4.4097221510732645),
  (2324, 4.406684225195095),
  (708, 4.406666666666667),
  (903, 4.404568376068376)],
 69218: [(912, 4.647817172171456),
  (2019, 4.587334674971329),
  (1250, 4.539881986856096),
  (750, 4.521801372131199),
  (58559, 4.450300735762869),
  (4973, 4.3956609826846655),
  (293, 4.38924447125206),
  (4226, 4.370746195040335),
  (6016, 4.356958569738861),
  (745, 4.322857910783901)],
 73818: [(17, 5.123905723905724),
  (58, 4.87037037037037),
  (858, 4.805882352941176),
  (265, 4.80462962962963),
  (5618, 4.781681190994916),
  (912, 4.755121421788088),
  (337, 4.724867724867725),
  (6, 4.657407407407407),
  (318, 4.650407488907301),
  (1732, 4.5897095959595955)],
 77168: [(745, 4.190094416907001),
  (910, 4.166951873176224),
  (750, 4.103330391461582),
  (5060, 4.094720218412079),
  (858, 4.070287581132899),
  (919, 4.055779744123857),
  (2692, 4.05111410348977),
  (5618, 4.049715521067475),
  (2019, 4.046814493016524),
  (912, 4.043795979031341)],
 78488: [(912, 5.041666666666667),
  (608, 5.0125),
  (1641, 5.0),
  (509, 5.0),
  (58, 5.0),
  (2395, 4.833333333333333),
  (112, 4.833333333333333),
  (30707, 4.8125),
  (265, 4.791666666666667),
  (141, 4.791666666666667)],
 79268: [(594, 5.5),
  (1266, 5.5),
  (590, 5.464285714285714),
  (17, 5.375),
  (913, 5.125),
  (5060, 5.125),
  (2019, 5.023809523809524),
  (196, 5.0),
  (1380, 5.0),
  (1282, 5.0)],
 79338: [(58, 5.875),
  (2268, 5.416666666666666),
  (805, 5.3792857142857144),
  (1676, 5.3291666666666675),
  (527, 5.3098214285714285),
  (923, 5.258333333333334),
  (912, 5.233333333333333),
  (628, 5.191666666666667),
  (3175, 5.18),
  (1247, 5.166666666666667)],
 80738: [(745, 4.6830241187384045),
  (910, 4.569444444444445),
  (5995, 4.452535180738963),
  (318, 4.436474291261448),
  (527, 4.408368599101737),
  (1252, 4.362558869701727),
  (6016, 4.292415620094191),
  (8368, 4.287314925970388),
  (2324, 4.274299893654732),
  (903, 4.262325456498389)],
 89398: [(912, 4.862745098039216),
  (750, 4.666666666666666),
  (541, 4.573529411764706),
  (858, 4.571078431372548),
  (58, 4.51078431372549),
  (111, 4.24201680672269),
  (4973, 4.12843137254902),
  (608, 4.043449197860962),
  (112, 3.9705882352941178),
  (318, 3.931746031746031)],
 90438: [(2019, 4.27510451150157),
  (1252, 4.146323345294612),
  (318, 4.089390392564844),
  (858, 4.046341200444233),
  (5995, 4.041713555116443),
  (745, 4.040943593443594),
  (923, 4.005514211048889),
  (17, 3.978179540550142),
  (527, 3.967071120525632),
  (5060, 3.914044229334477)],
 93748: [(910, 4.56090775183573),
  (2019, 4.350710108604845),
  (750, 4.317578819688419),
  (953, 4.291416642567959),
  (5060, 4.285688105753895),
  (1252, 4.223955266225003),
  (912, 4.214094429088451),
  (3160, 4.193170426065163),
  (5618, 4.153061740695728),
  (923, 4.115577122396007)],
 93998: [(2321, 5.5),
  (2395, 5.5),
  (1285, 5.5),
  (163, 5.166666666666667),
  (161, 5.166666666666667),
  (4979, 5.125),
  (253, 5.083333333333333),
  (5618, 5.041666666666667),
  (8368, 5.0),
  (266, 5.0)],
 97638: [(1252, 4.887044121129923),
  (2019, 4.878836182362384),
  (6016, 4.843364396919896),
  (17, 4.799123471404936),
  (5995, 4.790205914234327),
  (919, 4.77320017119486),
  (750, 4.702489616640785),
  (2324, 4.701811690043349),
  (1213, 4.695174355468614),
  (745, 4.678838566002209)],
 100938: [(6016, 4.370330385760073),
  (2019, 4.311796854340513),
  (1252, 4.210544638591648),
  (318, 4.2095506719285325),
  (5995, 4.170424546442227),
  (5618, 4.167320825784632),
  (912, 4.149807397221768),
  (527, 4.080553579790212),
  (910, 4.064963390045627),
  (919, 4.036318308010957)],
 103768: [(541, 5.611899863580355),
  (4979, 5.4140625),
  (3160, 5.354166666666667),
  (4226, 5.347626563251563),
  (318, 5.340343314643221),
  (5618, 5.335224780701755),
  (48780, 5.324068244912234),
  (2502, 5.323774509803921),
  (593, 5.305817172299027),
  (2028, 5.304787397407078)],
 108038: [(5618, 4.833998599439776),
  (4226, 4.66107606287872),
  (912, 4.660502754820937),
  (17, 4.630140692640693),
  (1285, 4.617424242424243),
  (1729, 4.613636363636363),
  (112, 4.590909090909091),
  (2959, 4.575981163197073),
  (4979, 4.564393939393939),
  (2395, 4.537878787878788)],
 111838: [(11, 6.4),
  (161, 6.21),
  (593, 6.180000000000001),
  (266, 6.0),
  (17, 6.0),
  (265, 5.966666666666667),
  (260, 5.95),
  (1250, 5.95),
  (318, 5.926666666666667),
  (110, 5.918333333333334)],
 113358: [(6016, 4.8299734748010605),
  (5618, 4.787540117928051),
  (527, 4.719805026487774),
  (4011, 4.6794789843435165),
  (745, 4.579047389392217),
  (2692, 4.566526826598316),
  (4973, 4.550323054224064),
  (17, 4.522888518598314),
  (913, 4.492645046524356),
  (541, 4.489338170434501)],
 114468: [(2019, 4.290689339431247),
  (318, 4.164963030188568),
  (6016, 4.132636642818461),
  (1252, 4.118917781258671),
  (912, 4.066042267756585),
  (527, 4.0178948119596365),
  (5995, 3.9836768423508357),
  (910, 3.965264707772449),
  (750, 3.944597406932995),
  (923, 3.925250274204327)],
 120238: [(552, 6.0),
  (62, 6.0),
  (494, 6.0),
  (805, 6.0),
  (832, 6.0),
  (112, 6.0),
  (527, 5.25),
  (587, 5.0),
  (350, 5.0),
  (260, 5.0)],
 120718: [(173, 5.53125),
  (466, 5.2125),
  (5618, 4.894602272727273),
  (58, 4.875),
  (832, 4.770833333333334),
  (17, 4.755208333333334),
  (2011, 4.703174603174603),
  (805, 4.696428571428571),
  (253, 4.632575757575758),
  (316, 4.629166666666666)],
 120918: [(112, 5.111111111111112),
  (6, 5.1000000000000005),
  (1732, 5.0625),
  (337, 5.055555555555555),
  (5618, 5.013888888888888),
  (3175, 5.0),
  (442, 4.905555555555556),
  (2395, 4.888888888888888),
  (608, 4.879166666666666),
  (141, 4.877777777777777)],
 120938: [(318, 4.332170637655148),
  (2019, 4.32910248616096),
  (6016, 4.240666086528594),
  (1252, 4.181236628147106),
  (745, 4.180159551936148),
  (17, 4.124029716247746),
  (910, 4.122634781550525),
  (5060, 4.117299060467718),
  (912, 4.099298273234751),
  (923, 4.088766269367361)],
 121578: [(2791, 5.112500000000001),
  (912, 4.991959064327485),
  (953, 4.988636363636363),
  (17, 4.979166666666667),
  (1250, 4.953125),
  (608, 4.927884615384615),
  (2268, 4.883928571428571),
  (2617, 4.875),
  (2502, 4.875),
  (1376, 4.875)],
 125328: [(339, 6.5),
  (4025, 5.75),
  (1266, 5.5),
  (913, 5.5),
  (1250, 5.5),
  (5060, 5.0),
  (903, 5.0),
  (2324, 4.666666666666667),
  (2011, 4.642857142857143),
  (4034, 4.625)],
 125668: [(318, 4.3975917649996585),
  (912, 4.326980125305208),
  (2019, 4.275089248212271),
  (1250, 4.231629057240964),
  (750, 4.229172874521948),
  (1213, 4.20731436136156),
  (296, 4.207171992034573),
  (913, 4.199874986015692),
  (58559, 4.1882907418417625),
  (293, 4.109972616449793)],
 125828: [(2019, 4.899877899877899),
  (750, 4.787452651515151),
  (910, 4.602753411306042),
  (1252, 4.504453792735043),
  (527, 4.466111205222999),
  (953, 4.440823412698413),
  (1089, 4.390410816035816),
  (318, 4.380270891962069),
  (912, 4.3789018596569065),
  (5060, 4.378219696969697)],
 129298: [(2019, 4.36803223074261),
  (17, 4.321313395375368),
  (6016, 4.312805923747554),
  (923, 4.281103159430922),
  (58, 4.23527945744353),
  (5060, 4.223348555968151),
  (260, 4.21963663710053),
  (745, 4.2001614859418455),
  (4973, 4.194356748835434),
  (5618, 4.188405004453391)],
 129858: [(2019, 4.6393025030525035),
  (6016, 4.436446801655135),
  (5995, 4.421464049294932),
  (913, 4.411819985569986),
  (910, 4.371552197802198),
  (1252, 4.364372294372293),
  (5618, 4.361846409782791),
  (912, 4.276221144835859),
  (750, 4.273757148631193),
  (2692, 4.266408167898842)],
 130768: [(750, 5.3671875),
  (3160, 5.166666666666666),
  (1282, 4.894444444444445),
  (953, 4.695054945054945),
  (912, 4.680208333333333),
  (5618, 4.65625),
  (2019, 4.645833333333334),
  (1127, 4.638888888888889),
  (527, 4.6317078754578755),
  (2692, 4.585416666666667)],
 143628: [(2019, 4.31109378203496),
  (527, 4.29158316758511),
  (5060, 4.2561612554112545),
  (6016, 4.206648913951545),
  (745, 4.183415750915751),
  (1252, 4.156916445872968),
  (910, 4.148593729799612),
  (5995, 4.117343662609792),
  (858, 4.102746704565089),
  (913, 4.077906926406927)],
 151348: [(5618, 5.254232896496323),
  (2502, 5.147767673502969),
  (832, 5.12843137254902),
  (316, 5.116131907308377),
  (2324, 5.111315121825503),
  (2395, 5.09390756302521),
  (2959, 5.07339721703329),
  (4979, 5.050064722858841),
  (783, 5.042156862745098),
  (466, 5.0323529411764705)],
 152188: [(912, 3.629264248073845),
  (2019, 3.5655419605836354),
  (1250, 3.528402243433338),
  (913, 3.498826246633857),
  (58559, 3.4703938926107125),
  (527, 3.43137464439637),
  (111, 3.3986839412813965),
  (903, 3.343140078028009),
  (5060, 3.3167674860204412),
  (1252, 3.2948375201232287)],
 152978: [(2657, 6.0),
  (913, 6.0),
  (1250, 6.0),
  (1408, 5.5),
  (440, 5.0),
  (494, 5.0),
  (2005, 5.0),
  (110, 5.0),
  (1278, 5.0),
  (832, 4.75)],
 159588: [(5060, 3.6989583333333336),
  (745, 3.658333333333333),
  (527, 3.6429057397328055),
  (912, 3.6255263157894735),
  (1252, 3.6151185770750986),
  (858, 3.6050347222222223),
  (953, 3.583333333333333),
  (17, 3.57),
  (923, 3.5537878787878787),
  (2019, 3.5511363636363633)],
 164258: [(1252, 4.367296193537872),
  (2019, 4.347496884428702),
  (6016, 4.268522760753681),
  (910, 4.2518227541292575),
  (5060, 4.249989604127305),
  (923, 4.212030340039962),
  (17, 4.169324462395554),
  (5618, 4.16922321274336),
  (745, 4.155822243548646),
  (750, 4.155703116036561)],
 164538: [(912, 5.076476960654972),
  (2019, 5.052603399461971),
  (750, 4.983439209758124),
  (1250, 4.976148002296246),
  (1213, 4.958421652093155),
  (913, 4.955463655047577),
  (293, 4.84802732244511),
  (4973, 4.847057260801194),
  (111, 4.827600827035846),
  (903, 4.79874625626466)],
 165718: [(1252, 5.078260869565217),
  (1250, 5.0200000000000005),
  (745, 4.935714285714286),
  (5060, 4.905555555555555),
  (903, 4.82648709315376),
  (923, 4.79419191919192),
  (919, 4.763706140350878),
  (2019, 4.742424242424242),
  (318, 4.722323991529769),
  (953, 4.7)],
 166008: [(253, 6.0),
  (923, 5.5),
  (1923, 5.5),
  (1777, 5.5),
  (1639, 5.5),
  (805, 5.0),
  (2355, 5.0),
  (2395, 5.0),
  (1278, 5.0),
  (2959, 4.666666666666667)],
 166408: [(858, 4.656664689601136),
  (318, 4.619027763651246),
  (912, 4.556758989907128),
  (1250, 4.4766298668366895),
  (2019, 4.4741844108832005),
  (750, 4.454913710000337),
  (913, 4.450257807775705),
  (296, 4.448989092825808),
  (1213, 4.43456476297782),
  (58559, 4.404442513727499)],
 168388: [(318, 4.453824669919783),
  (912, 4.399872140048328),
  (2019, 4.3216564336671),
  (1250, 4.309754156236278),
  (750, 4.306385636627912),
  (913, 4.29961051844023),
  (4973, 4.165797534978484),
  (903, 4.124451320459097),
  (5060, 4.099158774598956),
  (608, 4.0841034161070935)],
 168738: [(5618, 5.268399393545593),
  (21, 5.152777777777778),
  (2395, 5.097222222222222),
  (924, 5.09182098765432),
  (6, 5.05925925925926),
  (3160, 5.047222222222222),
  (318, 5.029547930283225),
  (1584, 5.01449013949014),
  (750, 4.962345679012346),
  (593, 4.950377585377585)],
 170998: [(1250, 5.958333333333333),
  (923, 5.854166666666667),
  (2019, 5.672222222222222),
  (5060, 5.666666666666667),
  (342, 5.597222222222221),
  (1729, 5.583333333333333),
  (913, 5.583333333333333),
  (912, 5.56969696969697),
  (1213, 5.564732142857142),
  (1259, 5.553968253968254)],
 171548: [(953, 5.177579365079365),
  (17, 4.9393939393939394),
  (265, 4.866666666666666),
  (5618, 4.828921568627451),
  (1552, 4.775),
  (2617, 4.758928571428571),
  (708, 4.75),
  (342, 4.723214285714286),
  (112, 4.708333333333333),
  (58, 4.645833333333333)],
 171648: [(1358, 6.0),
  (832, 5.5),
  (1732, 5.0),
  (924, 5.0),
  (509, 5.0),
  (783, 5.0),
  (3176, 5.0),
  (2028, 5.0),
  (1641, 5.0),
  (8961, 5.0)],
 173828: [(527, 4.4572122033637545),
  (913, 4.40550308277581),
  (910, 4.392465187318129),
  (745, 4.382727710000437),
  (17, 4.326855871483914),
  (1252, 4.326222915205128),
  (5060, 4.247417596515191),
  (5618, 4.224029602305004),
  (5995, 4.214681142088638),
  (858, 4.21455386722137)],
 174288: [(745, 4.576256345993188),
  (6016, 4.541844600188254),
  (2019, 4.401750135964735),
  (527, 4.39902026621562),
  (5618, 4.354305153910418),
  (68954, 4.342467958199382),
  (1252, 4.339098495471568),
  (750, 4.3285167208059745),
  (5995, 4.322518437671238),
  (858, 4.312956647251502)],
 178358: [(788, 5.875),
  (708, 5.535714285714286),
  (912, 5.34375),
  (653, 5.270833333333334),
  (58, 5.1875),
  (1380, 5.125),
  (2268, 5.125),
  (783, 5.125),
  (8368, 5.083333333333333),
  (648, 5.029761904761905)],
 180168: [(6016, 5.2631097960144),
  (2019, 5.180430854469425),
  (745, 5.099306001018758),
  (750, 5.052268077055991),
  (5995, 5.046954481235491),
  (858, 5.039463344551786),
  (910, 5.031878475392522),
  (1252, 5.02650392127804),
  (17, 4.995725416549446),
  (913, 4.973596517387196)],
 181678: [(5618, 4.768428784557302),
  (745, 4.76145651733887),
  (318, 4.696756462195946),
  (913, 4.608194794336099),
  (910, 4.606637743854939),
  (750, 4.5778392147996705),
  (858, 4.571873472063199),
  (2019, 4.563645345882189),
  (4011, 4.560859677574793),

In [26]:
best_predictions_matrix_list = []
best_predictions_matrix = pd.DataFrame.from_dict(best_predictions, orient='index')
best_predictions_matrix = best_predictions_matrix.reset_index()
best_predictions_matrix.rename(columns={'index':'userId'}, inplace=True)

for i in range(10):
        best_predictions_matrix_list.append(best_predictions_matrix[['userId', i]].rename(columns={i : 'items'}))

best_predictions_matrix = pd.concat(best_predictions_matrix_list, ignore_index=True)
best_predictions_matrix[['itemId', 'rating']] = best_predictions_matrix['items'].apply(pd.Series)
best_predictions_matrix.drop(columns=['items'], inplace=True)


best_predictions_matrix = best_predictions_matrix.sort_values(by=['userId', 'rating'], ascending=False).reset_index(drop=True)
best_predictions_matrix['itemId'] = best_predictions_matrix['itemId'].astype(int).astype(str)
best_predictions_matrix['userId'] = best_predictions_matrix['userId'].astype(str)

best_predictions_matrix[['itemId', 'userId']].groupby(by=['itemId'], as_index=False).count().sort_values(by=['userId'], ascending=False)

    itemId  userId
48    2019      51
136    912      41
106   5618      40
12    1252      40
125    750      39
..     ...     ...
105    552       1
35    1639       1
72    3114       1
34     163       1
0     1073       1

[143 rows x 2 columns]

# Evaluación

In [27]:
def discounted_cumulative_gain(recommended_list, ground_truth_list):
    dcg_value = 0
    for i in range(len(recommended_list)):
        recommended_item = recommended_list.loc[i, 'itemId']
        if recommended_item in ground_truth_list['itemId'].tolist():
            item_position = ground_truth_list[ground_truth_list['itemId'] == recommended_list.loc[i, 'itemId']].index[0]
            item_rating = ground_truth_list.loc[item_position, 'rating']
            dcg_value += item_rating / np.log2(i + 2) #se agrega un uno adicional porque empieza en 0
    return dcg_value

def ideal_discounted_cumulative_gain(recommended_list, ground_truth_list):
    idcg_value = 0
    for i in range(len(recommended_list)):
        recommended_item = recommended_list.loc[i, 'itemId']
        if recommended_item in ground_truth_list['itemId'].tolist():
            item_position = ground_truth_list[ground_truth_list['itemId'] == recommended_list.loc[i, 'itemId']].index[0]
            item_rating = ground_truth_list.loc[item_position, 'rating']
            idcg_value += item_rating / np.log2(item_position + 2) #se agrega un uno adicional porque empieza en 0
    return idcg_value

In [42]:
def discounted_cumulative_gain_v2(recommended_list, ground_truth_list):
    dcg_value = 0
    asserts = recommended_list[recommended_list['itemId'].isin(ground_truth_list['itemId'])]['itemId'].tolist()
    for assert_item in asserts:
        gt_item_position = ground_truth_list[ground_truth_list['itemId'] == assert_item].index[0]
        r_item_position = recommended_list[recommended_list['itemId'] == assert_item].index[0]
        gt_item_rating = ground_truth_list.loc[gt_item_position, 'rating']
        dcg_value += gt_item_rating / np.log2(r_item_position + 2) #se agrega un uno adicional porque empieza en 0
    return dcg_value

def ideal_discounted_cumulative_gain_v2(ground_truth_list):
    idcg_value = 0
    for item in ground_truth_list.index:
        idcg_value += ground_truth_list.loc[item, 'rating'] / np.log2(item + 2) #se agrega un uno adicional porque empieza en 0
    return idcg_value

In [43]:
qualitive_measures = {}

for user in df_ratings_unknown['userId'].unique():
    df_user_ground_truth = df_ratings_unknown[df_ratings_unknown['userId'] == user][['itemId', 'rating']].sort_values(by=['rating', 'itemId'], ascending=False).reset_index(drop=True)
    df_user_recommended = pd.DataFrame(best_predictions[user], columns=['itemId', 'rating']).reset_index(drop=True)
    asserts = df_user_recommended['itemId'].isin(df_user_ground_truth['itemId']).sum()
    if asserts == 0: dcg, idcg, ndcg = 0, 0, 0
    else:
        dcg = discounted_cumulative_gain_v2(df_user_recommended, df_user_ground_truth)
        idcg = ideal_discounted_cumulative_gain_v2(df_user_ground_truth)
        ndcg = dcg / idcg if idcg != 0 else 0
    qualitive_measures[user] = (asserts, dcg, idcg, ndcg)
qualitive_measures

{125328: (0, 0, 0, 0),
 79268: (0, 0, 0, 0),
 152978: (0, 0, 0, 0),
 171648: (0, 0, 0, 0),
 227648: (2, 3.2618591223240356, 17.26409848077655, 0.18893886211064495),
 16498: (0, 0, 0, 0),
 166008: (1, 3.1546487678572874, 19.390704141080757, 0.16268871645428862),
 159588: (1, 2.0, 21.645570325007462, 0.09239765781035435),
 120238: (0, 0, 0, 0),
 93998: (2, 4.401373922735365, 18.9904640454219, 0.23176758146657403),
 130768: (0, 0, 0, 0),
 178358: (1, 1.4453241315894392, 21.372657167524252, 0.06762491534209461),
 121578: (1, 1.505149978319906, 18.777209247506022, 0.08015834294011605),
 243538: (0, 0, 0, 0),
 171548: (0, 0, 0, 0),
 120718: (1, 1.75, 19.60238725654104, 0.08927484071696674),
 2378: (0, 0, 0, 0),
 11418: (1, 1.934264036172708, 21.197584515042532, 0.0912492663869361),
 165718: (0, 0, 0, 0),
 78488: (0, 0, 0, 0),
 170998: (1, 0.9030899869919436, 20.888808836358926, 0.04323319697483329),
 225148: (1, 0.3010299956639812, 18.411022772157065, 0.016350530841731832),
 103768: (3, 4.757190008110927, 22.12770186845986, 0.21498798367722396),
 35448: (2, 4.1562593052715515, 18.83840832733163, 0.2206268827521622),
 111838: (0, 0, 0, 0),
 185168: (1, 1.4453241315894392, 21.680904603749106, 0.06666346068141045),
 120918: (0, 0, 0, 0),
 80738: (0, 0, 0, 0),
 56918: (0, 0, 0, 0),
 61368: (3, 6.259191647257651, 19.549437861537406, 0.320172461816527),
 168738: (0, 0, 0, 0),
 40988: (1, 1.3539848253208957, 12.895720820135947, 0.10499489281798999),
 192798: (1, 4.0, 16.60218950392802, 0.2409320770042779),
 16648: (0, 0, 0, 0),
 52088: (0, 0, 0, 0),
 79338: (1, 1.261859507142915, 18.617790983597544, 0.06777707990462593),
 73818: (1, 1.505149978319906, 18.710066886715886, 0.08044599666228665),
 249158: (0, 0, 0, 0),
 125828: (0, 0, 0, 0),
 39388: (0, 0, 0, 0),
 200718: (0, 0, 0, 0),
 151348: (2, 3.2439910505953105, 22.27821686629185, 0.1456126883971421),
 225988: (0, 0, 0, 0),
 89398: (0, 0, 0, 0),
 35228: (0, 0, 0, 0),
 221058: (1, 2.0, 17.686472829943128, 0.11308077191140158),
 247588: (2, 4.935684703397398, 19.207885805579416, 0.25696137270681313),
 21978: (2, 3.6039848253208957, 14.919407902846284, 0.24156352911520954),
 221588: (1, 2.0, 19.30012240498923, 0.10362628578371008),
 31278: (0, 0, 0, 0),
 197728: (1, 1.4453241315894392, 19.51610227960695, 0.07405803222806985),
 174288: (1, 1.4453241315894392, 21.12269647123277, 0.06842517164216423),
 259448: (1, 1.934264036172708, 18.323214079481343, 0.10556357786261586),
 93748: (0, 0, 0, 0),
 143628: (0, 0, 0, 0),
 108038: (0, 0, 0, 0),
 56478: (1, 2.1533827903669653, 20.933077343374375, 0.10286986261236657),
 10218: (2, 2.9927353605276057, 21.467466731453452, 0.1394079421650038),
 67068: (1, 1.6666666666666667, 18.451346695019176, 0.09032764351647964),
 226628: (0, 0, 0, 0),
 113358: (0, 0, 0, 0),
 100938: (0, 0, 0, 0),
 173828: (0, 0, 0, 0),
 90438: (4, 7.5814749828067844, 17.214412365966417, 0.4404143935691737),
 32478: (1, 1.3333333333333333, 19.830283965230635, 0.06723722845679513),
 129298: (2, 3.6047111779969354, 19.370928270866983, 0.1860887164307072),
 129858: (0, 0, 0, 0),
 185558: (0, 0, 0, 0),
 181678: (0, 0, 0, 0),
 16378: (0, 0, 0, 0),
 97638: (1, 1.2041199826559248, 19.457854843382094, 0.06188349087543244),
 231718: (0, 0, 0, 0),
 23358: (0, 0, 0, 0),
 190428: (0, 0, 0, 0),
 77168: (0, 0, 0, 0),
 206278: (1, 1.934264036172708, 18.777209247506022, 0.10301126278547573),
 196148: (0, 0, 0, 0),
 213938: (1, 1.934264036172708, 19.805167105924838, 0.09766461579584759),
 15238: (0, 0, 0, 0),
 243348: (0, 0, 0, 0),
 236788: (0, 0, 0, 0),
 120938: (0, 0, 0, 0),
 187868: (1, 2.5, 18.75148175481652, 0.13332279724282844),
 17028: (2, 3.2140778956048335, 18.755074993998296, 0.17137110337513192),
 164258: (0, 0, 0, 0),
 269158: (2, 3.012517931576782, 19.191061578966398, 0.15697505420328245),
 57938: (1, 3.0, 15.174268984753782, 0.19770309877953426),
 180168: (0, 0, 0, 0),
 114468: (1, 1.7810359355401109, 15.896883000658486, 0.11203680214959978),
 38968: (0, 0, 0, 0),
 164538: (2, 3.318162016484081, 21.953817761232315, 0.15114282411251215),
 201478: (0, 0, 0, 0),
 152188: (2, 6.300791718430496, 16.782025233631288, 0.37544882877447167),
 69218: (1, 2.1533827903669653, 20.243536822933017, 0.10637384214044515),
 168388: (1, 1.1562593052715515, 16.534139676949422, 0.06993162800502502),
 166408: (0, 0, 0, 0),
 125668: (1, 1.3546349804879154, 17.436075174337923, 0.07769150837808046),
 21608: (1, 1.75, 13.343875186076865, 0.13114631061792065),
 7238: (0, 0, 0, 0),
 201128: (2, 6.934264036172708, 17.733119257499474, 0.3910346474008037)}

In [44]:
df_qualitive_measures = pd.DataFrame(
                            data=qualitive_measures.values(), 
                            columns=['asserts', 'dcg', 'idcg', 'ndcg'],
                            index=qualitive_measures.keys()
                        )
df_qualitive_measures

        asserts       dcg       idcg      ndcg
125328        0  0.000000   0.000000  0.000000
79268         0  0.000000   0.000000  0.000000
152978        0  0.000000   0.000000  0.000000
171648        0  0.000000   0.000000  0.000000
227648        2  3.261859  17.264098  0.188939
...         ...       ...        ...       ...
166408        0  0.000000   0.000000  0.000000
125668        1  1.354635  17.436075  0.077692
21608         1  1.750000  13.343875  0.131146
7238          0  0.000000   0.000000  0.000000
201128        2  6.934264  17.733119  0.391035

[100 rows x 4 columns]

In [45]:
df_qualitive_measure_asserts = df_qualitive_measures[df_qualitive_measures['asserts'] != 0]
print("Se agrupan los ususarios en {} CLUSTERS".format(len(matrix_per_cluster.keys())))
print("Usuarios con una recomendación minima de una pelicula acertada {} de {}".format(df_qualitive_measure_asserts['asserts'].count(),df_qualitive_measures.shape[0]))
print("Porcentaje de usuarios con una recomendación minima de una pelicula acertada {}%".format(100*df_qualitive_measure_asserts['asserts'].count()/df_qualitive_measures.shape[0]))
print("Peliculas recomendadas acertivamente {} de {}".format(df_qualitive_measure_asserts['asserts'].sum(),(df_qualitive_measures.shape[0]*10)))
print("Porcentaje de peliculas recomendadas acertivamente {}%".format(100*df_qualitive_measure_asserts['asserts'].sum()/(df_qualitive_measures.shape[0]*10)))
print("Promedio de Normalized Discount Cumulative Gain (nDCG) {}".format(df_qualitive_measures['ndcg'].sum()/(df_qualitive_measures.shape[0])))

Se agrupan los ususarios en 4 CLUSTERS
Usuarios con una recomendación minima de una pelicula acertada 47 de 100
Porcentaje de usuarios con una recomendación minima de una pelicula acertada 47.0%
Peliculas recomendadas acertivamente 67 de 1000
Porcentaje de peliculas recomendadas acertivamente 6.7%
Promedio de Normalized Discount Cumulative Gain (nDCG) 0.0685225977739509

In [32]:
df_test = df_qualitive_measures[['asserts']].copy()
df_test['userId'] = df_test.index.values

df_test_cluster = df_user_clustered[df_user_clustered['userId'].isin(df_ratings_unknown['userId'].unique().tolist())]

df_test_cluster_merged = pd.merge(
    left=df_test_cluster,
    right=df_test,
    on=['userId'],
    how='inner'
)
#df_test_cluster.groupby(['cluster'], as_index=False).count()
df_test_cluster_merged[['cluster', 'asserts']].groupby(['cluster'], as_index=False).sum()

   cluster  asserts
0        0       25
1        1       22
2        2        8
3        3       12